@font-face {
    font-family: outfit;
    src: url(../font/Outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: outfit;
    src: url(../font/Outfit/static/Outfit-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: changa;
    src: url(../font/Changa/Changa-VariableFont_wght.ttf);
}

:root {
    --primary-color: #05e4bf;
    --bg-color: #1B1B1B;
}

body {
    background-color: var(--bg-color);
    font-family: outfit, sans-serif;
}

/* Navbar Section */
.navbar {
    font-family: changa, sans-serif;
}

.nav-logo {
    height: 1.5rem;
}

.navbar-brand::before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
    top: -8px;
    left: -12px;
    border-radius: 0 0 7px 0;
}

#navbarNav {
    margin-left: 15rem;
}

/* Welcome Section*/
.welcome {
    margin-top: 15%;
}

.welcome__bg {
    right: 0;
    width: 50%;
}

.img-welcome {
    width: 100%;
    position: relative;
}

.welcome-bg-circle {
    width: 100%;
    height: 100%;
    background: #fff2;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    left: 0;
    z-index: -2;
}

.welcome-bg-circle::after {
    content: "";
    width: 80%;
    height: 80%;
    background: var(--bg-color);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: -1;
}

.welcome-gradient {
    margin-left: 5rem;
    background: linear-gradient(90deg, var(--primary-color) 0%, #FFFFFF 15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-brand {
    font-size: 4rem;
    font-family: changa, sans-serif;
}

.welcome-logo {
    width: 4rem;
}

.welcome-buttons,
.what-buttons {
    font-family: changa, sans-serif;
}

.welcome-partners p {
    position: relative;
}

.welcome-partners p::after {
    content: "";
    width: 120px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 6rem;
    background-color: var(--primary-color);
    margin: 0 0.5rem;
}

.welcome-partners img {
    width: 5rem;
    margin: 0 1rem;
}

/* Welcome Animation */
@keyframes textCycle {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    6% {
        opacity: 1;
        transform: translateY(-10px);
    }

    8% {
        transform: translateY(5px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    28% {
        opacity: 1;
        transform: translateY(0);
    }

    33% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.welcome-animated-word {
    display: grid;
    /* Stack words on top of each other */
    grid-template-areas: "stack";
    font-size: 2.5rem;
}

.welcome-animated-word .word1,
.welcome-animated-word .word2,
.welcome-animated-word .word3 {
    grid-area: stack;
    /* All words occupy the same space */
    opacity: 0;
    /* Start hidden */
    animation: textCycle 10.5s linear infinite;
}

.welcome-animated-word .word1 {
    animation-delay: 0s;
}

.welcome-animated-word .word2 {
    animation-delay: 3.5s;
}

.welcome-animated-word .word3 {
    animation-delay: 7s;
}

/* What Section */
.what-brand {
    font-size: 3rem;
    font-family: changa, sans-serif;
}

.what-logo {
    width: 3rem;
}

.what__bg,
.what-messages {
    height: 70vh;
}

.what-img-left {
    width: 30%;
    transform: scaleX(-1);
}

.what-img-right {
    width: 30%;
    right: 0;
    bottom: 0;
}

.msg {
    max-width: 60%;
    font-family: changa, sans-serif;
    opacity: 0;
}

.person1 {
    left: 30%;
    top: 30%
}

.person2 {
    right: 30%;
    bottom: 20%;
}


@keyframes messageSequence {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
    }

    5% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    20% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
    }
}

/* 
Total cycle time: let's say 22s for the whole conversation.
We have 6 messages.
*/

.msg {
    animation: messageSequence 28s infinite;
}

.msg-1 {
    animation-delay: 0s;
}

/* 0-4s */
.msg-2 {
    animation-delay: 4s;
}

/* 4-8s */
.msg-3 {
    animation-delay: 8s;
}

/* 8-12s */
.msg-4 {
    animation-delay: 12s;
}

/* 12-16s */
.msg-5 {
    animation-delay: 16s;
}

/* 16-22s */
.msg-6 {
    animation-delay: 22s;
}

/* 22-28s */

/* Adjusting duration for longer text */
/* 
Message 1: "Hi!" (Short)
Message 2: "Hi" (Short)
Message 3: "Do you know..." (Medium)
Message 4: "No..." (Medium)
Message 5: "Ok..." (Medium)
Message 6: "FivoraSpace helps..." (Long)
*/

/* Services Section */
.services {
    margin: 10% 0;
}

.badge {
    background-color: #E4B00520;
}

.service__bg {
    width: 80%;
}

.services-bg-circle {
    width: 100%;
    height: 90%;
    background: #fff2;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    left: 0;
    z-index: -2;
}

.services-bg-circle::after {
    content: "";
    width: 80%;
    height: 80%;
    background: var(--bg-color);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: -1;
}

/* Reach Section */
.reach-world {
    font-size: 7rem;
    margin: -30px 0;
}

.img-reach {
    width: 75%;
}

.reach-bg-circle {
    width: 75%;
    height: 90%;
    background: #fff2;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    right: -5%;
    z-index: -2;
}

.reach-bg-circle::after {
    content: "";
    width: 70%;
    height: 70%;
    background: var(--bg-color);
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: -1;
}

.card-text {
    min-height: 160px;
}

.big-quote {
    font-size: 10rem;
    margin: -60px 0 -130px 0;
}

.job-title {
    font-size: 0.7rem;
}

/* Footer Section */
.footer-brand,
.footer-copyright {
    font-family: changa, sans-serif;
}

.footer-medias {
    right: 5%;
    bottom: 20%;
}

footer {
    margin-top: 5rem;
}

footer::before {
    content: "";
    width: 90%;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    left: 5%;
}

footer::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 120px;
    background-color: var(--primary-color);
    filter:blur(150px);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.6;
}